<!-- This is card component -->
<div class="mx-4 my-4">
	<div class="h-96 w-full bg-slate-200"></div>
	<div class="px-4 pt-2">
		<h1 class="text-lg font-semibold text-neutral-900">Title</h1>
		<p class="font-light text-neutral-600">Content</p>
	</div>
</div>
