<header>
  <nav class="py-8 px-24 w-full bg-white">
    <!-- TODO: add logo and href -->
    <div class="flex justify-between items-center">
      <a href="/" class="text-3xl font-bold text-neutral-900"> TREEZONE</a>
      <div class="flex gap-16 text-center">
        <div
          class="flex gap-6 text-lg font-light tracking-wide text-neutral-800"
        >
          <a href="/"> Shopee</a>
          <a href="/"> Lazada</a>
          <a href="/"> Large order</a>
        </div>
        <div class="items-center flex gap-0.5 text-neutral-800">
          <span class="font-medium">TH</span> | <span
            class="text-neutral-700font-light tracking-wide">EN</span
          >
        </div>
      </div>
    </div>
  </nav>
</header>
