<header>
  <nav class="py-8 px-24 w-full absolute z-[99] bg-transparent">
    <!-- TODO: add logo and href -->
    <div class="flex justify-between items-center">
      <a href="/" class="text-3xl font-bold"> TREEZONE</a>
      <div class="flex gap-8 text-center">
        <div class="flex gap-4 text-xl">
          <a href="/"> Shopee</a>
          <a href="/"> Lazada</a>
          <a href="/"> สั่งจำนวนมาก</a>
        </div>
        <div class="items-center flex gap-0.5">
          <span class="font-bold">TH</span> | <span>EN</span>
        </div>
      </div>
    </div>
  </nav>
</header>
