---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/home/Hero.astro'
import Catalog from '../components/home/Catalog.astro'
---

<Layout title="Treezone premium tree">
	<main class="overflow-hidden">
		<Hero />
		<Catalog />
	</main>
</Layout>
