---
import Card from '../shared/Card.astro'
---

<div class="flex flex-wrap justify-start px-4 pb-10">
	{
		[1, 2, 3, 4].map((i) => (
			<div class="my-10 basis-1/4">
				<Card />
			</div>
		))
	}

	<div class="mx-auto">
		<button
			class="border border-neutral-500 px-4 py-2 font-normal uppercase text-neutral-600 hover:bg-lime-700 hover:text-white"
		>
			See more
		</button>
	</div>
</div>
