<div class="w-screen bg-hero-bg bg-cover bg-center">
  <div class="py-52">
    <div class="mx-auto">
      <div
        class="text-7xl uppercase font-semibold text-green-900 text-center my-4"
      >
        TREEZONE
      </div>
      <div class="uppercase text-4xl font-light text-center text-neutral-900">
        Premium tree for sale
      </div>
    </div>
    <div class="flex justify-center my-12">
      <button class="bg-lime-700 px-12 text-lg py-4 text-neutral-100 uppercase"
        >Buy now</button
      >
    </div>
  </div>
</div>
